<!DOCTYPE html>
<html >
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="home.css" >
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="contact">Reach Me</a></li>
      <li><a href="mychoice">MyChoice</a></li>
      <li><a href="guestbook">Guestbook</a></li>
      
    </ul>
  </div>
</nav>
<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-4"  style="color:white">
	<div class="container-fluid bg-grey">
  <h1>ABOUT </h1>
  <h4>EDUCATION</h4>      
  <p>Graduate Student in Applied Computer Science at Northwest Missouri State University,Maryville.</p>
  <h4>SKILLS</h4>
  <p>Good at coding, mobile games. </p>
  <h4>INTERESTS</h4>   
  <p>Watching Tv series, playing Cricket in Free time. </p>
  <h4>CONTACT ME</h4>
  <p>s531366@nwmissouri.edu</p>
</div>
<br>
      <div class="row">
        <div class="col-sm-6" style="background-color:none;">
          <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
          width="300" height="300" frameborder="0" allowfullscreen></iframe>
		
		</div>
        <div class="col-sm-6" style="background-color:lightgray;"></div>
      </div>
    </div>
    <div  class="col-sm-8" style="none">
	<img  src="sari.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
	</div>
  </div>
</div>


  

</body>
</html>
