<!DOCTYPE html>
<html>
<head>
<title>Weight Converter</title>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src = "form.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="home.css" >
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <div class="navbar-header">
		   
		  </div>
		  <ul class="nav navbar-nav">
			<li ><a href="/">Home</a></li>
			<li><a href="contact">Reach Me</a></li>
			<li class="active"><a href="mychoice">MyChoice</a></li>
			<li><a href="guestbook">Guestbook</a></li>
			
		  </ul>
		</div>
	  </nav>


		<h2 style="color:white;">Length Converter</h2>
		<p style="color:white;">Type a value in the Feet field to convert the value to Meters:</p>
		
		<form>
		<div class="form-group">
		<label id="fld_8768091Label">Enter the word Mile</label>
		<input type="text" id = "banti">
		<label id="fld_8768091Label">Enter Number in Miles</label>
		<input id="inputFeet" type="number" placeholder="Enter a Number" oninput="LengthConverter(this.value)" onchange="LengthConverter(this.value)">
		
		
		<div><label id="fld_8768091Label">Kilometers:</label> <span id="outputMeters"></span></div>
		
		</div>
		</form>
		
		
		
		


</body>
</html>